@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<h3>Xin chào @User.Identity?.Name</h3>

<hr />

<ul>
    <li>Quản lý sách</li>
    <li>Quản lý tạp chí</li>
    <li>Quản lý báo</li>
    <li>Quản lý nhân viên</li>
    <li>Quản lý người đọc</li>
    <li>Quản lý phiếu mượn</li>
</ul>